@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');

.skillsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    background-size: cover;
    height: 100vh;
}

.skillsContainer__text{
    color: white;
    flex: 0.6 ;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillsContainer__text > h2{
    font-size: 30px;
}

.skillsContainer__image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}

.skillsContainer__image > img{
    width: 600px;
    border-radius: 3px;
    object-fit: contain;
}

.skillsContainer__skills>h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom:10px ;
    padding-top: 30px;
}

.MuiLinearProgress-colorPrimary{
    background-color:rgb(88,88, 88) !important;
}

.skillsContainer__slider>.MuiLinearProgress-colorPrimary{
    background-color:rgb(88,88, 88) !important;
}

.skillContainer__slider.skillContainer__slider1 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgb(255, 3, 3);
}

.skillContainer__slider.skillContainer__slider2 > div > .MuiLinearProgress-barColorPrimary{
    background-color: yellowgreen;
}

.skillContainer__slider.skillContainer__slider3 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgb(255, 3, 221);
}

.skillContainer__slider.skillContainer__slider4 > div > .MuiLinearProgress-barColorPrimary{
    background-color: cyan;
}
